
<div ng-controller="viewClientsCtrl as ctrl">

<style>
    th {cursor: pointer;}
</style>

    <h1>Clients list:</h1>
    <div class="row">
        <table class="table-striped col-lg-12" id="Client_table">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Client ID</th>
                <th onclick="sortTable(1)">Client Name</th>
                <th onclick="sortTable(2)">Phone number</th>
                <th onclick="sortTable(3)">Email</th>
                <th onclick="sortTable(4)">City</th>
            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.clientList" ng-class="ctrl.loggedInUser==element.clientId">
                <td>{{element.clientId}}</td>
                <td>{{element.clientName}}</td>
                <td>{{element.phoneNumber}}</td>
                <td>{{element.email}}</td>
                <td>{{element.city}}</td>
                <td> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="nav-link" href="#!/showclientinfo?choosenClient={{element.clientId}}">show client</a>
                    </button></td>
                <td> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                             aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="nav-link" ng-click="ctrl.removeClient(element.clientId)">delete client</a>
                </button></td>
                <td> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                             aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="nav-link" href="#!/showclientinfo?choosenClient={{element.clientId}}">edit client (to do)</a>
                </button></td>
            </tr>
        </table>
    </div>
</div>
