<div ng-controller="viewaddreminderCtrl as ctrl">
  <form class="reminder">
    <h1>Add reminder for client:</h1>
    <!--<div class="row form-group">-->
      <!--<div class="col-md-3">-->
        <!--<label for="client_id">Client ID:</label>-->
      <!--</div>-->
      <!--<div class="col-md-9">-->
        <!--<input class="form-control" id="client_id" type="text" ng-model="ctrl.formClient.client_id"></input>-->
      <!--</div>-->
    <!--</div>-->
    <div class="reminder">
      <div class="reminder">
        <label for="reminder_note">Reminder:</label>
      </div>
      <div class="reminder">
        <input class="form-control" id="reminder_note" type="text" ng-model="ctrl.createreminder.reminder_note"></input>
      </div>
      <div><label for="reminder_note">Date:</label>
      </div>
      <div class="reminder">
        <input class="form-control" id="contact_date" type="date" ng-model="ctrl.createreminder.contact_date"></input>
      </div>
    </div>

    <div class="case">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Add reminder">
      </div>
    </div>
  </form>
</div>