<div ng-controller="showclientinfoCtrl as ctrl">

    <div class="invisible"></div>

</div>
<h1>Reminders: <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                       aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <a class="nav-link" href="#!/viewaddreminder?choosenClient={{ctrl.choosenClient}}"> + add new reminder</a>
</button></h1>
<div class="row">
    <table class="table-striped col-lg-12">
        <thead>
        <tr>
            <th>
                Reminder ID
            </th>
            <th>
                Reminder Note
            </th>

        </tr>
        </thead>
        <tr ng-repeat="element in ctrl.clientInfo.crmReminderList" ng-class="ctrl.choosenClient==element.clientId">
            <td>{{element.reminderId}}</td>
            <td>{{element.reminderNote}}</td>

        </tr>
    </table>
</div>
</div>

<div class="invisible"></div>

    <h1>Client info:</h1>
    <div class="row">
        <table class="table-striped col-lg-12">
            <thead>
            <tr>
                <th>
                    Client ID
                </th>
                <th>
                    Client Name
                </th>
                <th>
                    Phone number
                </th>
                <th>
                    Email
                </th>
                <th>
                    City
                </th>
            </tr>
            </thead>
            <tr>
                <td>{{ctrl.clientInfo.clientId}}</td>
                <td>{{ctrl.clientInfo.clientName}}</td>
                <td>{{ctrl.clientInfo.phoneNumber}}</td>
                <td>{{ctrl.clientInfo.email}}</td>
                <td>{{ctrl.clientInfo.city}}</td>
            </tr>
        </table>
    </div>

<div class="invisible">

</div>
    <h1>Client cases: <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <a class="nav-link" href="#!/viewaddcase?choosenClient={{ctrl.choosenClient}}"> + add new case</a>
    </button></h1>
    <div class="row">
        <table class="table-striped col-lg-12">
            <thead>
            <tr>
                <th>
                    Case ID
                </th>
                <th>
                    Case Description
                </th>

            </tr>
            </thead>
            <tr ng-repeat="element in ctrl.clientInfo.crmCaseList" ng-class="ctrl.choosenClient==element.clientId">
                <td>{{element.caseId}}</td>
                <td>{{element.caseDescription}}</td>

            </tr>
        </table>
    </div>

